<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.BookyConnectionString" connectionString="Data Source=ASUSMEY;Initial Catalog=Booky;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.BookyConnectionString1" connectionString="Data Source=LAPTOP-P71EKMGV\SQLEXPRESS;Initial Catalog=Booky;Persist Security Info=True;User ID=maria;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.BookyConnectionString2" connectionString="Data Source=LAPTOP-P71EKMGV\SQLEXPRESS;Initial Catalog=Booky;Persist Security Info=True;User ID=maria;Password=root123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>